<div class="sidebar">
    @if (nuevoCliente != null)
    {
        <h2>Servicios @nuevoCliente.InfoCliente.Nombre:</h2>
        <ul>
            <li>Costo Setup TIC</li>
            <li>Costo Ongoing TIC</li>
            <li>Costo Setup IoT</li>
            <li>Costo Ongoing IoT</li>
            <li>Costo Setup PMO</li>
            <li>Costo Ongoing PMO</li>
            <li>Costo Setup Ciber Seguridad</li>
            <li>Costo Ongoing Ciber Seguridad</li>
        </ul>
    }
</div>

<style>
    .sidebar {
        position: fixed;
        right: 0;
        bottom: 0;
        height: 90%;
        width: 20%;
        border: outset;
        margin: 0;
    }
</style>

@code
{

    [CascadingParameter]
    public Cliente? nuevoCliente { get; set; }
}
